#banner{
    display: flex;
    margin-top: 70px;
    position: relative;
    display: flex;
    justify-content: center;
}

#banner_right{
    width: 400px;
    height: 480px;
}

#title_banner{
    height: 180px;
    background-color: #72BEF5;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#title_banner > .title_h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height:40px;   
    width: 100%;
    height: 40px;
    color: #FFFFFF;
    text-align: center;
} 

.h2_1{
    text-decoration-line: underline;
}

#sale_imgbanner{
    height: 300px;
    background-image: url(../img/sale_banner.jpg);
    background-repeat: no-repeat;
    background-size: 444px 300px;
    border: 1px solid #000000;
}

#banner_left{
    width: 480px;
    height: 480px;  
    display: grid;
    grid-template-columns: repeat(3, 160px);
    grid-template-rows: repeat(3, 160px);
}

.banner_img{
    width: 160px;
    height: 160px;
    background-size: cover;
    border: 1px solid #000000;
}

.banner_img1{
    background-image: url(../img/banner1.jpg);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.banner_img2{
    background-image: url(../img/banner2.jpg);
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
.banner_img3{
    background-image: url(../img/banner3.jpg);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.banner_img4{
    background-image: url(../img/banner4.jpg);
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
.banner_img5{
    background-image: url(../img/banner5.jpg);
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}


.banner_img1,
.banner_img2,
.banner_img3,
.banner_img4,
.banner_img5{
    background-repeat: no-repeat;
    background-size: cover;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
#line{
    width: 700px;
    margin-top: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #000000;
}

#content_100{
    position: relative;
    width: 100%;
    height: 1250px;
    text-align: center;
}

#div_product{
    margin-top: 100px;
    display: inline-block;
    height: 130px;
}

#title_product{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 40px;
    text-align: center;
    color: #000000;
}
#sub_product{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    color: #000000;
}
#icon_product{
    width: 20px;
    height: 20px;
}

.new{
    margin-top: 10px;
}

#list_product{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product{
    margin-right: 40px;
    margin-left: 40px;
    width: 17%; /* Đặt chiều rộng của mỗi sản phẩm là 25% */
    margin-bottom: 50px;
}

.img_product:last-child{
    margin-right: 0;
}

.infor_product{
    width: 100%;
    height: 50px;
    background: #E2E2E2;
    border : 1px solid  #000000;
    border-top: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  
  .name_product{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-left: 2px;
    top: 0;
    text-align: left;
  }
  
  .price{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #FD6F08; 
    margin-right: 5px;
  }
  
  .old_price{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    display: flex;
    text-decoration-line: line-through;
    color: #000000;
    margin-right: 2px;
  }

#btn_seeall{
    width: 180px;
    height: 38px; 
    background: #000000;
    border-radius: 6px;
    margin-top: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 21px;
    color: #FFFFFF;
}

.div_price{
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
  }
  