@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/product.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="icon/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <title>SINGED-SHOP</title>
</head>

<body>
    <div id="main-head">
        <div id="header">
            <img id="img_web" src="../img//singed.png">
            <ul id="navigation">
                <li> <a href="index.html">TRANG CHỦ</a></li>
                <li>
                    <a>PHONG CÁCH</a> <a class="ti-angle-down" id="css_ti_angle_down"></a>
                    <ul class="style">
                        <li> <a>Đơn giản</a></li>
                        <li> <a>Lịch sự</a></li>
                        <li> <a>Trưởng thành</a></li>
                        <li> <a>Trẻ trung</a></li>
                        <li> <a>Năng động</a></li>
                    </ul>
                </li>
                <li> <a>KHUYẾN MÃI</a></li>
                <li> <a>LIÊN HỆ</a></li>
            </ul>
            <div id="div_function">
                <input id="search_box" placeholder="Tìm kiếm ..">
                <div id="div_iconfunction">
                    <i class="fa-solid fa-magnifying-glass icon_funtion"></i>
                    <i class="fa-solid fa-user icon_funtion profile">
                        <ul class="profile_container">
                            <li><a>Thông tin</a></li>
                            <li><a>Đơn hàng của tôi</a></li>
                            <li><a>Giỏ hàng</a></li>
                            <li><a>Đăng xuất</a></li>
                        </ul>
                    </i>
                    <i class="fa-solid fa-cart-shopping icon_funtion"></i>
                </div>
            </div>
        </div>
        <div id="div_menu">
            <img id="icon_menu" src="../img/menu.png">
            <div class="tab_menu">
                <h1 id="title_menu">Danh mục sản phẩm </h1>
                <ul id="content_menu">
                    <li id="title_clothes" class="tab_list_menu">
                        <a>Áo</a>
                        <i class="ti-angle-down"></i>
                        <ul class="list_clothes">
                            <li><a>Áo Thun</a></li>
                            <li><a>Áo Sơ mi</a></li>
                            <li><a>Áo Polo</a></li>
                            <li><a>Áo Khoác</a></li>
                            <li><a>Áo Blazer</a></li>
                            <li><a>Áo Hoodie</a></li>
                        </ul>
                    </li>
                    <li id="title_trousers" class="tab_list_menu">
                        <a>Quần</a>
                        <i class="ti-angle-down"></i>
                        <ul class="list_clothes">
                            <li><a>Quần Jean</a></li>
                            <li><a>Quần Tây</a></li>
                            <li><a>Quần Jogger</a></li>
                            <li><a>Quần Kaki</a></li>
                            <li><a>Quần Baggy</a></li>
                            <li><a>Quần Thun</a></li>
                            <li><a>Quần Short</a></li>
                        </ul>
                    </li>
                    <li id="title_accessories" class="tab_list_menu">
                        <a>Phụ kiện</a>
                        <i class="ti-angle-down"></i>
                        <ul class="list_clothes">
                            <li><a>Nón</a></li>
                            <li><a>Kính</a></li>
                            <li><a>Cà vạt</a></li>
                            <li><a>Thắt lưng</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="range_slider_div">
                    <h3 id="title_price">Khoảng giá: <span id="value_price"></span></h3>
                    <input type="range" min="0" max="1000" value="0" class="slider_range" id="range">
                </div>
            </div>
        </div>
    </div>

    <div id="content_product">
        <div id="div_detail_product">
            <div id="div_detail_product_left">
                <div id="img_detail_product"></div>
                <div id="list_img_detail_product">
                    <div class="img_detail_product_child1"></div>
                    <div class="img_detail_product_child2"></div>
                </div>
            </div>
            <div id="div_detail_product_right">
                <h1 id="name_product">Áo Hoodie Basic</h1>
                <div id="price_id">
                    <h3 id="price_product">300.000đ</h3>
                    <hr id="line">
                    <h4 id="id_product">Mã : </h4>
                </div>
                <h3 id="describe"> Mô tả </h3>
                <p id="describe_content">
                    Áo Khoác Hoodie Tối Giản M6
                    Nhập khẩu : từ Mỹ
                    Da bò da heo da cá lợn
                    Mỏng nhẹ ahahaf
                    Chống thấm fqfqf
                    COTTON DOUBLE FACE
                    COTTON DOUBLE FACE
                    COTTON DOUBLE FACE
                    COTTON DOUBLE FACE
                    COTTON DOUBLE FACE
                    COTTON DOUBLE FACE
                    COTTON DOUBLE FACE
                    COTTON DOUBLE FACE
                    COTTON DOUBLE FACE
                </p>
                <h3 id="title_size">Size</h3>
                <ul id="list_size">
                    <li class="size active" data-size="S"><a>S</a></li>
                    <li class="size" data-size="M"><a>M</a></li>
                    <li class="size" data-size="L"><a>L</a></li>
                    <li class="size" data-size="XL"><a>XL</a></li>
                    <li class="size" data-size="XXL"><a>XXL</a></li>
                </ul>

                <div class="color-picker">
                    <a id="color">Màu</a>
                    <div class="color circle"></div>
                    <div class="list_color">
                        <div class="color1 circle"></div>
                        <div class="color2 circle"></div>
                        <div class="color3 circle"></div>
                        <div class="color4 circle"></div>
                        <div class="color5 circle"></div>
                        <div class="color6 circle"></div>
                        <div class="color7 circle"></div>
                    </div>
                </div>
                <div id="btn">
                    <button id="btn_add_cart">Thêm vào giỏ <i class="fa-solid fa-cart-shopping"></i></button>
                    <button id="btn_buy">Mua ngay</button>
                </div>
            </div>
        </div>

        <h1 id="related_product">Sản phẩm liên quan</h1>
        <div id="list_product">
            <div class="product">
                <div class="img_product"></div>
                <div class="infor_product">
                    <a class="name_product">Hoodie Basic</a>
                    <div class="div_price">
                        <a class="price">300.000đ</a>
                        <a class="old_price">450.000đ</a>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="img_product"></div>
                <div class="infor_product">
                    <a class="name_product">Hoodie Basic</a>
                    <div class="div_price">
                        <a class="price">300.000đ</a>
                        <a class="old_price">450.000đ</a>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="img_product"></div>
                <div class="infor_product">
                    <a class="name_product">Hoodie Basic</a>
                    <div class="div_price">
                        <a class="price">300.000đ</a>
                        <a class="old_price">450.000đ</a>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="img_product"></div>
                <div class="infor_product">
                    <a class="name_product">Hoodie Basic</a>
                    <div class="div_price">
                        <a class="price">300.000đ</a>
                        <a class="old_price">450.000đ</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="footer">
        <h1 id="title_contact">Liên hệ</h1>
        <div id="div_iconcontact">
            <div id="icon_fb"></div>
            <div id="icon_email"></div>
            <div id="icon_phone"></div>
        </div>

        <div id="content_footer">
            <div id="div_singed">
                <h3>Singed-Shop</h3>
                <div id="img_singed"></div>
            </div>
            <div id="explore">
                <ul id="explore_title">
                    <h4>Khám phá</h4>
                    <li><a>Trang chủ</a></li>
                    <li><a>Giới thiệu</a></li>
                    <li><a>Sản phẩm mới</a></li>
                    <li><a>Giảm giá</a></li>
                </ul>
            </div>
            <div id="policy">
                <ul id="policy_title">
                    <h4>Chính sách</h4>
                    <li><a>Mua hàng</a></li>
                    <li><a>Vận chuyển-giao hàng</a></li>
                    <li><a>Đổi trả</a></li>
                </ul>
            </div>
            <div id="support">
                <ul id="support_title">
                    <h4>Hỗ trợ</h4>
                    <li><a>Câu hỏi thường gặp</a></li>
                    <li><a>Thanh toán</a></li>
                </ul>
            </div>
        </div>

        <div id="end_footer">
            <h3 class="title_endfooter">P/s : Website được lập bởi 1 nhóm nhỏ sinh viên  Đại học Sài Gòn</h3>
            <h3 class="title_endfooter endfooter2">* Website được hoàn thiện ngày : 27/2/2023</h3>
            <h3 id="title_address">Địa chỉ : Trụ sở chính/ 273 An Dương Vương – Phường 3 – Quận 5</h3>
        </div>
    </div>
    <script src="../JavaScript/test.js"></script>
    <script src="../JavaScript/test1.js"></script>
</body>
</html>